{% extends "sidebarLoggedIn.html" %}

{% block content %}
	
	<div class="inner">
	
		<!-- Post -->
			<article class="box post post-excerpt">
				<header>
					<!--
						Note: Titles and subtitles will wrap automatically when necessary, so don't worry
						if they get too long. You can also remove the <p> entirely if you don't
						need a subtitle.
					-->
					<h2>Build Your Character</a></h2>
					<p>Use this form to fill out your character sheet!</p>
				</header>
				<div class="info">
					nub
					<!--
						Note: The date should be formatted exactly as it's shown below. In particular, the
						"least significant" characters of the month should be encapsulated in a <span>
						element to denote what gets dropped in 1200px mode (eg. the "uary" in "January").
						Oh, and if you don't need a date for a particular page or post you can simply delete
						the entire "date" element.
	
					-->
					<!--<span class="date"><span class="month">Oct<span>y</span></span> <span class="day">21</span><span class="year">, 2016</span></span>-->
					<!--
						Note: You can change the number of list items in "stats" to whatever you want.
					-->
					<!--<ul class="stats">-->
					<!--	<li><a href="#" class="icon fa-comment">16</a></li>-->
					<!--	<li><a href="#" class="icon fa-heart">32</a></li>-->
						<!--<li><a href="#" class="icon fa-twitter">64</a></li>-->
						<!--<li><a href="#" class="icon fa-facebook">128</a></li>-->
					</ul>
				</div>
				<!--<a href="#" class="image featured"><img src="/static/images/Daein Castle.png" alt=""/></a>-->
                <form method="POST" action='characterGen'>
    				<table style="width:50%">
                        <tr><td colspan="3">Character Name</td></tr>
                    <tr><td colspan="3"><input type="text" id="name" name="name" {% if character %}value="{{character['name']}}"{% endif %} required/></td>
                        <tr><td>Race</td><td>Class</td><td>Level</td></tr>
                        	<td><select name="race">
                        		{% if character %}<option>{{character['race']}}</option>{% endif %}
                                <option>Human</option>
                                <option>Dwarf</option>
                                <option>Elf</option>
						    </select></td>
						    <td><select name="class">
                        		{% if character %}<option>{{character['class']}}</option>{% endif %}
                                <option>Fighter</option>
                                <option>Rogue</option>
                                <option>Cleric</option>
						    </select></td>
						    <td><input type="number" name="level" min="1" max="20" required {% if character %}value="{{character['level']}}"{% endif %}/></td>
					    </tr></table>
					    <table style="width:15%">
						<tr><td><strong>Ability&nbsp;Scores</strong></td></tr>
						<tr><td>Strength</td><td><input type="number" name="strength" min="1" max="20" required {% if character %}value="{{character['strength']}}"{% endif %}/></td></tr>
						<tr><td>Dexterity</td><td><input type="number" name="dexterity" min="1" max="20" required {% if character %}value="{{character['dexterity']}}"{% endif %}/></td></tr>
						<tr><td>Constitution</td><td><input type="number" name="constitution" min="1" max="20" required {% if character %}value="{{character['constitution']}}"{% endif %}/></td></tr>
						<tr><td>Intelligence</td><td><input type="number" name="intelligence" min="1" max="20" required {% if character %}value="{{character['intelligence']}}"{% endif %}/></td></tr>
						<tr><td>Wisdom</td><td><input type="number" name="wisdom" min="1" max="20" required {% if character %}value="{{character['wisdom']}}"{% endif %}/></td></tr>
						<tr><td>Charisma</td><td><input type="number" name="charisma" min="1" max="20" required {% if character %}value="{{character['charisma']}}"{% endif %}/></td></tr>
						</table>
						<table style="width:50%">
						<tr><td colspan="3"><strong>Skill&nbsp;Proficiencies</strong></td></tr>
						<tr><td> </td><td><input type="checkbox" name="Athletics" value="" {% if character['athletics'] %}checked{% endif %}/></td><td>Athletics</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Acrobatics" value="" {% if character['acrobatics'] %}checked{% endif %}/></td><td>Acrobatics</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Sleight_of_Hand" value="" {% if character['sleight_of_hand'] %}checked{% endif %}/></td><td>Sleight&nbsp;of&nbsp;Hand</td></tr>
						<tr><td> </td><td><input type="checkbox" name="Stealth" value="" {% if character['stealth'] %}checked{% endif %}/></td><td>Stealth</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Arcana" value="" {% if character['arcana'] %}checked{% endif %}/></td><td>Arcana</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="History" value="" {% if character['history'] %}checked{% endif %}/></td><td>History</td></tr>
						<tr><td> </td><td><input type="checkbox" name="Investigation" value="" {% if character['investigation'] %}checked{% endif %}/></td><td>Investigation</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Nature" value="" {% if character['nature'] %}checked{% endif %}/></td><td>Nature</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Religion" value="" {% if character['religion'] %}checked{% endif %}/></td><td>Religion</td></tr>
						<tr><td> </td><td><input type="checkbox" name="Animal_Handling" value="" {% if character['animal_handling'] %}checked{% endif %}/></td><td>Animal&nbsp;Handling</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Insight" value="" {% if character['insight'] %}checked{% endif %}/></td><td>Insight</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Medicine" value="" {% if character['medicine'] %}checked{% endif %}/></td><td>Medicine</td></tr>
						<tr><td> </td><td><input type="checkbox" name="Perception" value="" {% if character['perception'] %}checked{% endif %}/></td><td>Perception</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Survival" value="" {% if character['survival'] %}checked{% endif %}/></td><td>Survival</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Deception" value="" {% if character['deception'] %}checked{% endif %}/></td><td>Deception</td></tr>
						<tr><td> </td><td><input type="checkbox" name="Intimidation" value="" {% if character['intimidation'] %}checked{% endif %}/></td><td>Intimidation</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Performance" value="" {% if character['performance'] %}checked{% endif %}/></td><td>Performance</td>
							<td>&emsp;&emsp;</td><td><input type="checkbox" name="Persuasion" value="" {% if character['persuasion'] %}checked{% endif %}/></td><td>Persuasion</td></tr>
    				</table>
			        <button type="submit" {% if character %}name="id" value="{{character['id']}}"{% endif %}/>Submit</button><button type="reset"/>Reset</button></td></tr>				    
				</form>
			</article>
	
		<!-- Post -->
			<!--<article class="box post post-excerpt">-->
			<!--	<header>-->
			<!--		<h2><a href="#">Lorem ipsum dolor sit amet</a></h2>-->
			<!--		<p>Feugiat interdum sed commodo ipsum consequat dolor nullam metus</p>-->
			<!--	</header>-->
			<!--	<div class="info">-->
			<!--		<span class="date"><span class="month">Jul<span>y</span></span> <span class="day">8</span><span class="year">, 2014</span></span>-->
			<!--		<ul class="stats">-->
			<!--			<li><a href="#" class="icon fa-comment">16</a></li>-->
			<!--			<li><a href="#" class="icon fa-heart">32</a></li>-->
			<!--			<li><a href="#" class="icon fa-twitter">64</a></li>-->
			<!--			<li><a href="#" class="icon fa-facebook">128</a></li>-->
			<!--		</ul>-->
			<!--	</div>-->
			<!--	<a href="#" class="image featured"><img src="/static/images/pic02.jpg" alt="" /></a>-->
			<!--	<p>-->
			<!--		Quisque vel sapien sit amet tellus elementum ultricies. Nunc vel orci turpis. Donec id malesuada metus.-->
			<!--		Nunc nulla velit, fermentum quis interdum quis, tate etiam commodo lorem ipsum dolor sit amet dolore.-->
			<!--		Quisque vel sapien sit amet tellus elementum ultricies. Nunc vel orci turpis. Donec id malesuada metus.-->
			<!--		Nunc nulla velit, fermentum quis interdum quis, convallis eu sapien. Integer sed ipsum ante.-->
			<!--	</p>-->
			<!--</article>-->
	
		<!-- Pagination -->
			<!--<div class="pagination">-->
				<!--<a href="#" class="button previous">Previous Page</a>-->
			<!--	<div class="pages">-->
			<!--		<a href="#" class="active">1</a>-->
			<!--		<a href="#">2</a>-->
			<!--		<a href="#">3</a>-->
			<!--		<a href="#">4</a>-->
			<!--		<span>&hellip;</span>-->
			<!--		<a href="#">20</a>-->
			<!--	</div>-->
			<!--	<a href="#" class="button next">Next Page</a>-->
			<!--</div>-->
	</div>
{% endblock %}
