{% extends "sidebarLoggedIn.html" %} {% block content %}
<div ng-app="D&DApp" ng-controller="Chat">
    <div>
        <h2>{{post_title}}</h2>
    </div>
    <div class="scroll" id="msgpane">
        <p ng-repeat="msg in messages">
            <b ng-bind="msg.character.name"></b>&nbsp;
            <i ng-bind="msg.date_posted"></i>&nbsp;
            <span ng-bind="msg.body"></span>
        </p>
    </div>


    


    <form ng-submit="send()">
        <select ng-model="char" ng-options="c.name for c in user.charList">
        <input ng-Keydown="keyup($event)" type="text" ng-value="fill" ng-model="message" size="40" placeholder="Enter message here">
        <input type="submit" value="submit">

    </form>
</div>
{% endblock %}