{% extends "sidebarLoggedIn.html" %} {% block content %}
<div ng-app="D&DApp" ng-controller="Chat">
    <div>
        <h2>{{post_title}}</h2>
    </div>
    <div class="scroll" id="msgpane">
        <p ng-repeat="msg in messages">
            <b ng-bind="msg.character"></b>&nbsp;
            <i ng-bind="msg.date_posted"></i>&nbsp;
            <span ng-bind="msg.body"></span>
        </p>
    </div>

    <form ng-submit="send()">
      <table style="width:100%">
        <tr>
          <!--this is commented out because we would like to add it as functionality in later developments.-->
          <!--<td><select ng-show="user.is_dm" ng-model="char" ng-options="c.name for c in user.charList"></td>-->
          <td><input type="text" ng-value="fill" ng-model="message" size="40" placeholder="Enter message here"></td>
          <td><input type="submit" value="submit"></td>
        </tr>
      </table>
    </form>
</div>
{% endblock %}