{% extends "sidebarLoggedIn.html" %}
{% block content %}

<div class="inner">
    <header><h2><font size="5">Dungeon Master Campaign List</font></h2></header>
    <article class="box post post-excerpt">
        <table style="width:100%">
            <th width="25%"><b>DM</b></th><th width="25%"><b>Campaign Title</b></th><th>&nbsp;</th>
            {% for dm, title in info %}
                <tr>
                    <td>{{dm}}</td><td>{{title}}</td>
                </tr>
            {% endfor %}
        </table>
    </article>
</div>

{% endblock %}