{% extends "sidebarLoggedOut.html" %}
{% block content %}
	<div class="inner">
		<article class="box post post-excerpt">
			<header>
				<h1>Welcome to the Azure Leaf, Adventurer!</h1>
        <h2>Log in or sign up!</h2>
          <form method="POST" action='/'>
						<table>
							<tr><td>Username<font color="red">&emsp;&emsp;&emsp;&emsp;{{message}}</font></td>
									<td><input type="text" id="username" name="username" /></td></tr>
							<tr><td>Password</td>
									<td><input type="text" name="password" id="password"/></td></tr>
							<tr><td>Are you a Game Master?</td><td>
									<input type="radio" name="is_dm" value="is_dm" />Yes!
									<input type="radio" name="is_dm" value="" checked/>no</td></tr>  
					    <tr><td><button type="submit" name="button" value="Sign Up" />Sign Up</button></td>
					    		<td><button type="submit" name="button" value="Log In" />Log In</button></td></tr>
				    </table>
    	    </form>
			</header>
		</article>
	</div>
{% endblock %}
